# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# User-specific
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Crash reports
sysinfo.txt

# Addressables
ServerData/

# Packages lock (KEEP this)
!Packages/packages-lock.json
